<h1><%= @question.title %></h1>

<aside>
  Views: <%= @question.view_count %>
</aside>

<p>
  <%= @question.content %>
</p>

<small>asked by <%= link_to @question.author.username, user_url(@question.author) %></small>

<section>
  Votes: <%= @question.vote_count %>
  <form action="/votes" method="post">
    <%= auth_token %>
    <input type="hidden" name="vote[votable_id]" value="<%= @question.id %>">
    <input type="hidden" name="vote[votable_type]" value="Question">
    <input type="submit" name="vote[vote_type]" value="up">
  </form>

  <form action="/votes" method="post">
    <%= auth_token %>
    <input type="hidden" name="vote[votable_id]" value="<%= @question.id %>">
    <input type="hidden" name="vote[votable_type]" value="Question">
    <input type="submit" name="vote[vote_type]" value="down">
  </form>
</section>

<h3>Answers</h3>
<ul class="answers">
  <% @question.answers.each do |answer| %>
    <li>
      <% if correct_user? && !@question.answered? %>
        <%= link_to "Accept Answer", accept_answer_url(answer) %>
      <% end %>
      <p>
        <%= answer.content %>
      </p>
      <small>answered by <%= link_to answer.author.username,
                             user_url(answer.author) %></small>
      <% if logged_in? && current_user == answer.author %>
        <small><%= link_to "Edit", edit_answer_url(answer) %></small>
      <% end %>
      <section>
        Votes: <%= answer.vote_count %>
        <form action="/votes" method="post">
          <%= auth_token %>
          <input type="hidden" name="vote[votable_id]" value="<%= answer.id %>">
          <input type="hidden" name="vote[votable_type]" value="Answer">
          <input type="submit" name="vote[vote_type]" value="up">
        </form>
        <form action="/votes" method="post">
          <%= auth_token %>
          <input type="hidden" name="vote[votable_id]" value="<%= answer.id %>">
          <input type="hidden" name="vote[votable_type]" value="Answer">
          <input type="submit" name="vote[vote_type]" value="down">
        </form>
      </section>
    </li>
  <% end %>
</ul>


<% if logged_in? && current_user == @question.author %>
  <small><%= link_to "Edit", edit_question_url(@question) %></small>
<% else %>
  <aside>
    <%= link_to "Got an answer?", new_question_answer_url(@question) %>
  </aside>
<% end %>
