<section class="sort group">
  <h1 class="header"></h1>

  <ul class="sort-options group">
    <li class="option" data-sort="username">Username</li>
    <li class="option" data-sort="created_at">Newest</li>
    <li class="option" data-sort="questions_count">Questions</li>
    <li class="option" data-sort="answers_count">Answers</li>
  </ul>
</section>

<ul class="users group">
  <% users.each(function(user) { %>
    <li class="user group">
      <a class="user-thumb" href="#/users/<%= user.id %>">
        <img src="<%= user.get("image_url") %>" alt="" />
      </a>
      <section class="user-info">
        <a class="user-link" href="#/users/<%= user.id %>">
          <%= user.escape('username') %>
        </a>
        <span><%= user.get("answers_count") %></span>
        <span>joined <%= user.created_at.toDateString().match(/\s(.*)/)[1] %></span>
      </section>
    </li>
  <% }); %>
</ul>

<section class="pagination group"></section>
