<h1 class="username"><%= user.escape('username') %></h1>

<section class="profile-info group">

  <div class="profile-pic">
    <img src="<%= user.get("image_url") %>" alt="" />
    <span class="new-image-link edit hidden">change profile picture</span>
  </div>

  <table class="attributes">
    <tr>
      <td class="attribute">
        Email
      </td>
      <td class="value">
        <div class="value" data-attr="email">
          <span class="value"><%= user.escape('email') %></span>
          <span class="edit hidden user-attr">edit</span>
        </div>
        <input class="user-edit-input hidden"
               value="<%= user.escape('email') %>"
               data-attr="email">
      </td>
    </tr>
  </table>

</section>

<section class="questions group">
  <section class="user-asked">
    <h3>Questions asked by <%= user.escape('username') %></h3>
    <ul class="user-questions"></ul>
  </section>

  <section class="user-answered">
    <h3>Questions answered by <%= user.escape('username') %></h3>
    <ul class="user-questions"></ul>
  </section>
</section>

<div class="modal hidden">
  <section class="modal-screen close-modal"></section>
  <form class="modal-form form"></form>
</div>
