<section class="question-info group">
  <h1><%= question.escape('title') %></h1>

  <span class="view-count">
    Views: <%= question.get('view_count') %>
  </span>


  <p class="question-content">
    <%= question.escape('content') %>
  </p>

  <form class="form edit-question answer-form hidden group">
    <textarea><%= question.escape('content') %></textarea>
    <button class="submit">Edit</button>
    <button class="cancel">Cancel</button>
  </form>

  <section class="question-meta">
    <small class="question-author">asked by
      <a href="#/users/<%= question.author.id %>">
        <%= question.author.escape('username') %>
      </a>
    </small>

    <ul class="question-tags group">
      <% question.tags().each(function(tag) { %>
        <li>
          <a href="#/tags/<%= tag.id %>">
            <%= tag.escape("tag_name") %>
          </a>
        </li>
      <% }) %>
    </ul>

    <section class="voting">
      <span>Votes: <%= question.get('vote_count') %></span>
      <button class="up vote"
              data-votable-type="Question"
              data-votable-id="<%= question.id %>">up</button>
      <button class="down vote"
              data-votable-type="Question"
              data-votable-id="<%= question.id %>">down</button>
    </section>

    <span class="edit hidden">edit</span>
  </section>

  <section class="commenting">

    <h4>Comments</h4>
    <ul class="question-comments"></ul>
    <span class="new-question-comment">add comment</span>
    <form class="hidden answer-form new-comment group">
      <h5>Comment Away!</h5>

      <textarea id="content"
                name="comment[content]"
                placeholder="write here..."></textarea>

      <button class="submit">submit</button>
      <button class="cancel">cancel</button>

    </form>
  </section>

</section>

<h2>Answers</h2>
<section class="question-answers">
  <ul class="answers"></ul>

  <a class="new-answer-link" href="javascript:void(0)">Got an Answer?</a>

  <form class="hidden new-answer answer-form group">
    <h3>Answer Away!</h3>

    <textarea id="content"
              name="answer[content]"
              placeholder="write here..."></textarea>

    <button class="submit">submit</button>
    <button class="cancel">cancel</button>
  </form>
</section>
