<section class="question-info">
  <h1><%= question.escape('title') %></h1>

  <span class="view-count">
    Views: <%= question.get('view_count') %>
  </span>


  <p class="question-content">
    <%= question.escape('content') %>
  </p>

  <small class="question-author">asked by
    <a href="#/users/<%= question.author.id %>">
      <%= question.author.escape('username') %>
    </a>
  </small>

  <ul class="question-tags group">
    <% question.tags().each(function(tag) { %>
      <li>
        <a href="#/tags/<%= tag.id %>">
          <%= tag.escape("tag_name") %>
        </a>
      </li>
    <% }) %>
  </ul>

  <section class="voting">
    <span>Votes: <%= question.get('vote_count') %></span>
    <button class="up vote"
            data-votable-type="Question"
            data-votable-id="<%= question.id %>">up</button>
    <button class="down vote"
            data-votable-type="Question"
            data-votable-id="<%= question.id %>">down</button>
  </section>

  <span class="edit hidden">edit</span>
</section>

<h2>Answers</h2>
<section class="question-answers">
  <ul class="answers"></ul>

  <a class="new-answer-link" href="javascript:void(0)">Got an Answer?</a>

  <form class="hidden new-answer-form group">
    <h3>Answer Away!</h3>

    <textarea id="content"
              name="answer[content]"
              placeholder="write here..."></textarea>

    <button class="submit">submit</button>
    <button class="cancel">cancel</button>
  </form>
</section>
