<h1><%= question.escape('title') %></h1>

<aside>
  Views: <%= question.get('view_count') %>
</aside>

<p>
  <%= question.escape('content') %>
</p>

<small>asked by
  <a href="/users/<%= question.author.id %>">
    <%= question.author.escape('username') %>
  </a>
</small>
