<!DOCTYPE html>
<html>
<head>
  <title>StackOverflowClone</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
  <ul class="user-nav">
    <% if logged_in? %>
      <li>
        <a href="#/users/<%= current_user.id %>">
          <%= current_user.username %>
        </a>
      </li>
      <li><%= link_to "Log Out", session_url, method: :delete %></li>
    <% else %>
      <li><%= link_to "Sign Up", new_user_url %></li>
      <li><%= link_to "Log In", login_url %></li>
    <% end %>
  </ul>
</header>

<main>
  <nav class="main-nav">
    <ul class="main-nav-links">
      <li><a href="#">Home</a></li>
      <li><a href="#/users">Users</a></li>
      <li><a href="#/tags">Tags</a></li>
      <li><a href="#/questions">Questions</a></li>
      <li><a href="#/questions/new">Ask</a></li>
    </ul>
  </nav>

  <% if flash[:notice] %>
    <aside class="flash-notice">
      <%= flash[:notice] %>
    </aside>
  <% end %>

  <%= yield %>

</main>

<script type='text/javascript'>
  if (<%= current_user.try(:id).nil? %>) {
    StackOverflowClone.currentUser = null;
  } else {
    StackOverflowClone.currentUser = new StackOverflowClone.Models.User({
      id: <%= current_user.try(:id) || "null" %>
    });
    StackOverflowClone.currentUser.fetch();
  }
</script>

</body>
</html>
