<!DOCTYPE html>
<html>
<head>
  <title>StackOverflowClone</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
  <ul class="user-nav">
    <% if logged_in? %>
      <li><%= link_to current_user.username, user_url(current_user) %></li>
      <li><%= link_to "Log Out", session_url, method: :delete %></li>
    <% else %>
      <li><%= link_to "Sign Up", new_user_url %></li>
      <li><%= link_to "Log In", login_url %></li>
    <% end %>
  </ul>
</header>

<main>
  <nav class="main-nav">
    <ul class="main-nav-links">
      <li><%= link_to "Users", users_url %></li>
    </ul>
  </nav>

  <% if flash[:notice] %>
    <aside class="flash-notice">
      <%= flash[:notice] %>
    </aside>
  <% end %>

  <%= yield %>

</main>

</body>
</html>
